@font-face {
    src: url("font/Vazir-FD.woff");
    font-family: Vazir-FD;
}
* {
    font-family: "Vazir-FD";
}
body {
    direction: rtl;
}
.wrapper {
    max-width: 90%;
    display: block;
    margin: 0 auto;
}
.way {
    position: relative;
    background-image: url("img/shape.svg");
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    &__dash {
        position: relative;
        top: 30px;
    }

    &__items {
        display: flex;
        justify-content: center;
        padding-top: 90px;
    }
    &__item {
        display: flex;
        position: relative;
    }
    &__item-container {
        width: 117px;
    }
    &__item-logo {
        width: 100px;
        height: 100px;
        border-radius: 40px;
        background-color: white;
        border: 10px solid rgba($color: #1fa6a8, $alpha: 0.85);
        background-repeat: no-repeat;
        background-position: center;
        &--1 {
            background-image: url("svg/logo1.svg");
        }
        &--2 {
            background-image: url("svg/logo2.svg");
        }
        &--3 {
            background-image: url("svg/logo3.svg");
        }
        &--4 {
            background-image: url("svg/logo4.svg");
        }
    }
    &__item-text {
        text-align: center;
        font-size: 12px;
        padding: 5px;
        color: white;
    }
    &__header-text {
        width: 100px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        top: 25px;
    }

    &__books-header {
        width: fit-content;
        margin: 0 auto;
        color: white;
        font-size: 13px;
    }
    &__books-container {
        display: flex;
        width: 70%;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    &__book-item {
        width: 290px;
        background-color: white;
        margin: 8px;
        text-align: center;
        padding: 6px;
        border-radius: 25px;
        text-transform: uppercase;
        font-size: 14px;
        box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.2);
    }
    &__books-footer {
        text-align: center;
        color: white;
        font-size: 13px;
    }
}
